﻿@model web.Models.ProdutoViewModel

<div class="panel-body">
    <div class="row">
        <div class="col-lg-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-group loading">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control loading" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                @Html.LabelFor(model => model.DataDeCadastro, htmlAttributes: new { })
                @Html.EditorFor(model => model.DataDeCadastro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataDeCadastro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { })
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                @Html.LabelFor(model => model.Fornecedor, htmlAttributes: new { })
                @Html.EditorFor(model => model.Fornecedor, new { htmlAttributes = new { @class = "form-control loading" } })
                @Html.ValidationMessageFor(model => model.Fornecedor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                @Html.LabelFor(model => model.Preco, htmlAttributes: new { })
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                @Html.LabelFor(model => model.cor, htmlAttributes: new { })
                @Html.EditorFor(model => model.cor, new { htmlAttributes = new { @class = "form-control loading" } })
                @Html.ValidationMessageFor(model => model.cor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
