﻿@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Cadastro de Produto</h4>
            </div>
            @Html.Partial("~/Views/Produto/_CreateOrEdit.cshtml")
            <div class="panel-footer">
                <div class="input-group">
                    <div class="form-actions">
                        <input type="submit" value="Inserir" class="btn btn-primary" />
                        |
                        <a href="~/Produto/Index" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
