﻿@{
    ViewBag.Title = "Delete";
}

<div class="form-horizontal">
    <hr />
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h3>Deletar Produto</h3>
        </div>
        @Html.Partial("~/Views/Produto/_DetailsOrDelete.cshtml")
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="panel-footer">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a href="~/Produto/Index" class="btn btn-default">Voltar</a>
                </div>
            </div>
        }
    </div>
</div>