﻿@{
    ViewBag.Title = "Details";
}

<div class="form-horizontal">
    <hr />
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h3>Visualizar Produto</h3>
        </div>

        @Html.Partial("~/Views/Produto/_DetailsOrDelete.cshtml")

        <div class="panel-footer">
            <div class="form-actions">
                <a href="/Produto/Edit?codigo=@Model.Codigo" class="btn btn-warning">Editar</a>
                |
                <a href="~/Produto/Index" class="btn btn-default">Voltar</a>
            </div>
        </div>

    </div>
</div>