﻿@model web.Models.ProdutoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.Mensagem == true)
{

    <div class="alert alert-success">
        Inserido com sucesso.
    </div>

}
<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <a href="~/Produto/Create" class="btn btn-primary">Novo Produto</a>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">DataDeCadastro</th>
            <th scope="col">Preco</th>
            <th scope="col">Cor</th>
            <th>Editar</th>
            <th>Deletar</th>
            <th>Visualizar</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.listaUsuarios.Count; i++)
            {
                
                <tr>
                    <td>@Model.listaUsuarios[i].Codigo</td>
                    <td>@Model.listaUsuarios[i].Nome</td>
                    <td>@Model.listaUsuarios[i].Fornecedor</td>
                    <td>@Model.listaUsuarios[i].DataDeCadastro</td>
                    <td>R$ @Model.listaUsuarios[i].Preco,00</td>
                    <td>@Model.listaUsuarios[i].cor</td>
                    <td>
                        <a href="/Produto/Edit?codigo=@Model.listaUsuarios[i].Codigo" class="btn btn-warning">Editar</a>
                    </td>
                    <td>
                        <a href="/Produto/Delete?codigo=@Model.listaUsuarios[i].Codigo" class="btn btn-danger">Deletar</a>
                    </td>
                    <td>
                        <a href="/Produto/Details?codigo=@Model.listaUsuarios[i].Codigo" class="btn btn-success">Visualizar</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>